body {
  font-family: "Montserrat", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/061/645/original/alexandru-vicol-D9FQYwAclwQ-unsplash.jpg?1673012585");
  background-size: cover;
  color: white;
}
.container {
  background: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.localInfo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 200;
}
.citiesSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.cities {
  text-align: center;
}
.cities h2 {
  font-weight: 300;
}
.cities .time {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
.cities .date {
  font-weight: 100;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}
